@import './src/style/abstracts/variables'

.listItem
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  border: 1px solid $border
  border-radius: 10px
  padding: 15px 20px
  font-size: 16px
  font-weight: $regular

  .albumTitle
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    max-width: 80%
    font-size: 16px
    font-weight: $regular

@media screen and (max-width: 400px)
  .listItem
    .albumTitle
      max-width: 70%