*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: $nunito

li
  list-style: none

a
  text-decoration: none
  color: $black
  transition: .3s

.wrap
  max-width: 1580px
  padding-left: 70px
  padding-right: 70px
  margin: 0 auto

  &.sm
    max-width: 1000px

