@import './src/style/abstracts/variables'

.iconBtn
  font-size: 20px
  background-color: transparent
  border: none
  margin-left: 15px
  transition: .3s

  &:nth-child(1)
    margin-left: 0

  &:hover,
  &.active
    color: $main
    cursor: pointer

  &:focus
    outline: none